

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s linear infinite;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
